@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply font-sans;
}

@layer base {
  body {
    @apply bg-primary text-gray-100
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-full transition duration-300;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-400;
}